<html>
	<head>
		<style type="text/css">
			table {
				border-collapse: collapse;
				border-spacing: 10px;
			}
            .key{
                font-weight: bold; 
                color: #666;
                vertical-align: top;
                margin-top: 0;
            }
            tr{
                border-top: 1px solid #eee;
            }
            td{
                padding: 0.5em;
            }
			body {
				font-family: Helvetica, sans-serif;
				background: #f0f0f0;
				margin: 1em;
			}
			h2 {
				color: #6c9e00;
				font-weight: normal;
				font-family: "Segoe UI", sans-serif;
                margin-top: 0;
			}
            .margin-top {
                margin-top: 1em;
            }
			.container {
				margin: auto;
				max-width: 50em;
				background: white;
				padding: 2em;
				box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
					0px 2px 2px 0px rgba(0, 0, 0, 0.14),
					0px 1px 5px 0px rgba(0, 0, 0, 0.12);
			}
			.footer {
				font-size: 0.8em;
				color: #666;
				font-style: italic;
				padding-top: 2em;
			}
			.link {
				text-decoration: none;
				color: #de9300;
			}
			.link:hover {
				color: #fea901;
			}
            .logo{
                float: right;
            }
            .additional-msg{
                background: rgba(254, 169, 1, 0.07);
                margin: 1em 0em;
                padding: 1em;
            }
            .supervisor-comment-container{
                background: rgba(254, 169, 1, 0.07);
                margin: 1em 0em;
                padding: 1em;
                border-left: 6px solid rgba(222, 147, 0, 0.2);
            }
            .supervisor-comment-title{
                color: rgb(222, 147, 0);
                font-size: 1.1em;
                margin-bottom: 0.5em;
            }
            .supervisor-comment-msg{
                font-style: italic;
            }
		</style>
	</head>
	<body>
		<div class="container">
            <h2>{{subject}}</h2>
            <!-- Template for submission notification -->
            {{#with submissionNotification}}
            <div>
                A new {{formName}} has been submitted by {{submitterName}}.
                Use the following link to handle the request:
                <a class="link" href="{{link}}">{{formId}}</a>
            </div>
            {{#if additionalMsg}}
                <div  class="additional-msg">
                    {{{additionalMsg}}}
                </div>
            {{/if}}
            {{/with}}

            <!-- Template for submission comfirmation -->
            {{#with submissionConfirmation}} 
            <div>
                Your {{formName}} has been submitted. 
                You will be notified by email as soon as 
                {{#if requiresApproval}}
                    {{supervisorName}} has made a decision. 
                {{/if}}
                {{#unless requiresApproval}}
                    it has been processed by {{supervisorName}}. 
                {{/unless}}
            </div>
            {{#if additionalMsg}}
                <div  class="additional-msg">
                    {{{additionalMsg}}}
                </div>
            {{/if}}
            {{/with}}

             <!-- Template for RE-submission notification -->
            {{#with resubmissionNotification}}
            <div>
                A revised version of {{formName}} #{{formId}} has been submitted by {{submitterName}}.
                Use the following link to handle the request:
                <a class="link" href="{{link}}">{{formId}}</a>
            </div>
            {{#if additionalMsg}}
                <div  class="additional-msg">
                    {{{additionalMsg}}}
                </div>
            {{/if}}
            {{/with}}

            <!-- Template for RE-submission comfirmation -->
            {{#with resubmissionConfirmation}} 
            <div>
                Your {{formName}} revision has been submitted. 
                You will be notified by email as soon as the revised version has been reviewed.
                {{#if additionalMsg}}
                    <div  class="additional-msg">
                        {{{additionalMsg}}}
                    </div>
                {{/if}}
            {{/with}}

            <!-- Template for edit notification -->
            {{#with editNotification}} 
            <div>
                {{editorName}} made an edit to the {{formName}} submitted by {{submitterName}}. 
                Use the following link to view the changes:
                <a class="link" href="{{link}}">{{formId}}</a>
            </div>
            {{/with}}

            <!-- Template for comment notification -->
            {{#with commentNotification}} 
            <div>
                {{commentatorName}} made a comment to the {{formName}} submitted by {{submitterName}}. 
                Use the following link to view the form:
                <a class="link" href="{{link}}">{{formId}}</a>
            </div>
            {{/with}}

            <!-- Template for reassignment notification -->
            {{#with reassignmentNotification}} 
            <div>A {{formName}} originally submitted by {{submitterName}} 
                has been reassigned to you by {{reassignerName}}. 
                {{#if hasComment}}
                <div class="supervisor-comment-container">
                    <div class="supervisor-comment-title">
                        {{{commentTitle}}}
                    </div>
                    <div class="supervisor-comment-msg">
                        {{{commentMsg}}}
                    </div>
                </div>
                {{/if}}
                Use the following link to handle the request: 
                <a class='link' href='{{link}}'>{{formId}}</a>
            </div>
            {{/with}}

            <!-- Template for decision notification listeners -->
            {{#with decisionNotificationListeners}} 
            <div>
                The {{formName}} submitted by {{submitterName}} 
                has been {{formStatus}} by {{deciderName}}.
            </div>
            {{/with}}

            <!-- Template for decision notification to submitter -->
            {{#with decisionNotificationSubmitter}}
            <div>
                {{deciderName}} has {{formStatus}} your {{formName}} #{{formId}}.
            </div>
            {{#if hasComment}}
            <div class="supervisor-comment-container">
                <div class="supervisor-comment-title">
                    {{{commentTitle}}}
                </div>
                <div class="supervisor-comment-msg">
                    {{{commentMsg}}}
                </div>
            </div>
            {{/if}}
            {{#if isRejection}}
                Use the following link to revisit the form:
                <a  class='link' href='{{link}}'>{{formId}}</a>
            {{/if}}
            {{#if additionalMsg}}
                <div  class="additional-msg">
                    {{{additionalMsg}}}
                </div>
            {{/if}}
            {{/with}}

            <!-- Template for supervisor reminder -->
            {{#with supervisorReminder}}
            <div>
                A new {{formName}} has been submitted by {{submitterName}}. 
                Use the following link to approve or reject the request: 
                <a  class='link' href='{{link}}'>{{formId}}</a>
            </div>
            <div>
                Reminders can be postponed under <i>Your pending supervisor cases</i> in the <a  class='link' href='{{profileViewLink}}'>profile view</a>.
            </div>
            {{/with}}
            <!-- Template for safety test reminder -->
            {{#with safetyTestReminder}}
            <div>Hi {{name}},</div>
             <div>
                It is time to repeat your safety training. Your safety test will expire {{timeEn}}. Click <a  class='link' href='{{link}}'>here</a> to renew it now. A valid safety training is required in order to access the MAX IV facility.
            </div>
            <div class='margin-top'>
                Hej {{name}},
            </div>
            <div>
                Det är dags att repetera säkerhetsutbildningen. Ditt säkerhetsprov kommer att gå ut {{timeSv}}. Klicka <a  class='link' href='{{link}}'>här</a> för att förnya det nu. En giltig säkerhetsutbildning krävs för tillträde till MAX IV-anläggningen.
            </div>
            {{/with}}
            <!-- Template for general simple notifications. Do not overuse. Do not add features -->
            <!-- Meant to be used for internal form-specific notifications -->
            {{#with generalNotification}}
            <div>
                {{#each messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/with}}
            <!-- Template for simple form -->
            {{#with simpleForm}}
                <p>The following information was submitted:</p>
                <table>
                    {{#each simpleForm}}
                    <tr>
                        <td class='key'>
                            {{propToWord @key}}
                        </td>
                        <td>{{{unwrapJSON @this}}}</td>
                    </tr>
                {{/each}}
                </table>
            {{/with}}
            
            <div class="footer">
				This email was automatically generated by
				<a class="link" href="{{domainName}}">Domni</a>. You cannot
				reply to it
            </div>
		</div>
	</body>
</html>
